<section class="download" style="padding:  80px 0px 0px 0px">
  <div class="container">
    <div class="row g-4 py-3 position-relative w-100 download-section " [ngClass]=" lang === 'ar' ? 'bg-ar' : 'bg-en'">
      <div class="col-md-7 m-0 py-4">
        <div class="content px-lg-5 z-3 position-relative pt-5  download-desktop" style="min-height: 285px;">
          <h2 class="head-title  mb-0">{{ "home.download-section.title" | transloco }}</h2>
          <p class="text-white mb-2  py-4 down-desc">
            {{ "home.download-section.co1" | transloco }}
          </p>
          <div class="apps pb-4">
            <a class="pe-1"
              href="https://apps.apple.com/eg/app/salamtak-%D8%B3%D9%84%D8%A7%D9%85%D8%AA%D9%83/id6445848575"
              target="_blank">
              <img src="/assets/background/app-store.png" alt="Download from Apple Store"  loading="lazy" />
            </a>
            <a class="ps-1" href="https://play.google.com/store/apps/details?id=com.korashiGroup.salamtakPatient&pli=1"
              target="_blank">
              <img src="/assets/background/google-play.png" alt="Download from Google Play"  loading="lazy"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container download-mobile">
  <div class="row">
    <div class="col-md-7">
      <div class="apps pb-4 mt-4 ">
        <h2 class="head-title mb-0">{{ "home.download-section.title" | transloco }}</h2>
        <p class="text-black mb-2  py-4">
          {{ "home.download-section.co1" | transloco }}
        </p>
        <div class="apps pb-4">
          <a class="pe-1"
            href="https://apps.apple.com/eg/app/salamtak-%D8%B3%D9%84%D8%A7%D9%85%D8%AA%D9%83/id6445848575"
            target="_blank">
            <img src="/assets/background/app-store.png" alt="Download from Apple Store" loading="lazy" />
          </a>
          <a class="ps-1" href="https://play.google.com/store/apps/details?id=com.korashiGroup.salamtakPatient&pli=1"
            target="_blank">
            <img src="/assets/background/google-play.png" alt="Download from Google Play" loading="lazy" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
