<section class="download" style="padding: 80px 0px 40px 0px">
  <div class="container">
    <div
      class="row g-4 justify-content-lg-between justify-content-center align-items-center"
      style="background-color: #2b2979; border-radius: 10px"
    >
      <div class="content px-lg-5 ">
        <h2>{{ "home.download-section.title" | transloco }}</h2>
        <p class="text-white  py-3 fw-light">
          {{ "home.download-section.co" | transloco }}
        </p>
        <div class="apps">
          <a
            href="https://apps.apple.com/eg/app/salamtak-%D8%B3%D9%84%D8%A7%D9%85%D8%AA%D9%83/id6445848575"
            target="_blank"
          >
            <img
              src="/assets/background/app-store.png"
              alt="Download from Apple Store"
            />
          </a>
          <a
            href="https://play.google.com/store/apps/details?id=com.korashiGroup.salamtakPatient&pli=1"
            target="_blank"
          >
            <img
              src="/assets/background/google-play.png"
              alt="Download from Google Play"
            />
          </a>
        </div>
      </div>
      <img src="/assets/iPhone 15 Pro.png" alt="Download" class="img-fluid m-0" />
    </div>
  </div>
</section>
