<section class="blogs">
  <div class="container">
    <nav class="breadcrumb"
    style="--bs-breadcrumb-divider: '>'"
    aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">
            {{'app-name' | transloco}}
          </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">
            {{'blogs.title' | transloco}}
          </a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">
            {{'blogs.promo' | transloco}}
          </a></li>
      </ol>
    </nav>
    <div class="cards ">
      <h2 class="fw-medium pb-3">
        <!-- All Articles -->
        {{ "Promotions.title" | transloco }}
      </h2>
      </div>
    <div class="no-results">
      <div class="card" style="align-items: center;">
        <div class="card-body">
          <img src="assets/icons/no-results.svg" alt="no-results">
          <h5>
            <!-- No Results -->
            {{ 'find-a-doctor.doctors-list.no-results.title' | transloco }}
          </h5>

        </div>
      </div>
    </div>
  </div>

</section>
