section.blogs{
    background: #fff;
    

  }
  .blogss img.card-img {
    padding: 30px;
    height: 250px;
    width: 100%;
    object-fit: contain;
  }

  .doctor-img {
    width: 35% !important;
  }
