.card {
  background: #fff;
  border-radius: 6px;
  border: none;
}

.card-body {
  width: 100%;
  padding: 12px;
}

.items {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #767676;
}

.reservation-details .row {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}

.actions button {
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #2b2979;
  border-radius: 15px;
  width: 100%;
}

.form-select {
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.mat-select-value-text {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.mat-select-value-text span.mat-option {
  white-space: normal !important;
}
.mat-select-value-text {
  white-space: normal !important;
}
.mat-select {
  max-height: 300px;
  overflow-y: auto;
}

.booking-card {
  border: 1px solid #E9EAEF;
  padding: 15px;
  border-radius: 8px;
  margin: auto;
}
.booking-card h5 {
  font-weight: bold;
  margin-bottom: 16px;
}
.booking-detail {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
