<div
  id="customCarousel"
  class="carousel slide mt-5 mb-4"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#customCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#customCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#customCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/assets/background/bookingtest.webp"
        class="d-block w-100 h-100 change-dir"
        alt="Slide 3"
        fetchpriority="high"
      />
      <div class="overlay"></div>
      <div class="carousel-caption text-start">
        <div class="col-sm-10 col-md-10 col-lg-8 col-xl-9 col-xxl-7">
          <div class="header-content">
            <img
              src="/assets/background/Booking logo.png"
              alt="logo"
              class="mb-5"
            />
            <h1 class="text-white">
              <span class="fw-bold pe-1" *ngIf="lang === 'en'">{{
                "header.booking.para" | transloco
              }}</span>
              {{ "header.booking.title" | transloco }}
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="/assets/background/home.jpeg"
        class="d-block w-100 h-100 change-dir"
        alt="Slide 1"
        fetchpriority="high"
      />
      <div class="overlay"></div>
      <div class="carousel-caption text-start">
        <div class="col-sm-10 col-md-10 col-lg-8 col-xl-9 col-xxl-7">
          <div class="header-content">
            <img
              src="/assets/background/Logo Home.png"
              alt="logo"
              class="mb-5"
            />
            <h1 class="text-white">
              <span class="fw-bold pe-1" *ngIf="lang === 'en'">
                {{ "header.visit.para" | transloco }}
              </span>
              {{ "header.visit.title" | transloco }}
            </h1>
            <h2 class="pt-2" *ngIf="lang === 'en'">
              {{ "header.visit.title1" | transloco }}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="/assets/background/connect.jpeg"
        class="d-block w-100 h-100 change-dir"
        alt="Slide 2"
        fetchpriority="high"
        />
      <div class="overlay"></div>
      <div class="carousel-caption text-start">
        <div class="col-sm-10 col-md-10 col-lg-8 col-xl-9 col-xxl-7">
          <div class="header-content">
            <img
              src="/assets/background/Logo Connect.png"
              alt="logo"
              class="mb-5"
            />
            <h1 class="text-white">
              <span class="fw-bold pe-1" *ngIf="lang === 'en'">{{
                "header.connect.para" | transloco
              }}</span>
              {{ "header.connect.title" | transloco }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="services">
  <div class="container">
    <h2 class="pb-4 head-title" style="font-weight: 600">
      {{ "home.services.title" | transloco }}
    </h2>
    <div class="cards">
      @if(services.length == 0){
      <div class="row">
        @for(item of [].constructor(6);track null){
        <div class="col-md-2 mb-3">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      } @if(services.length != 0){
      <div class="row">
        @for(service of services;track null){
        <div class="col-lg-2 col-md-3 col-sm-6 mb-3 services-col">
          <div
            class="card"
            style="cursor: pointer"
            [routerLink]="['find-a-doctor' | route]"
            [queryParams]="{
              service: replaceSpaceWithDash(service['Name'])
            }"
          >
            <div class="card-body">
              <div class="icon">
                <img
                  [src]="storageUrl + '/' + service['Image']"
                  [alt]="service['Name'] + ' icon'"
                />
              </div>
              <h5 class="title fw-medium">
                {{ service["Name"] }}
              </h5>
            </div>
          </div>
        </div>
        }
        <div class="col-lg-2 col-md-3 col-sm-6 mb-3 services-col">
          <div
            class="card"
            style="cursor: pointer"
            [routerLink]="['polyclinics' | route]"
          >
            <div class="card-body">
              <div class="icon">
                <img
                  src="assets/background/poly.svg"
                  alt="Static Service icon"
                />
              </div>
              <h5 class="title fw-medium">
                {{ "home.services.cards.Poly" | transloco }}
              </h5>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 mb-3 services-col">
          <div
            class="card"
            style="cursor: pointer"
            [routerLink]="['offers' | route]"
          >
            <div class="card-body">
              <div class="icon">
                <img src="assets/offers.png" alt="Static Service icon" />
              </div>
              <h5 class="title fw-medium">
                {{ "offer.offer" | transloco }}
              </h5>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>

<section class="">
  <div class="container booking-doctor p-4">
    <div class="row align-items-center pb-3">
      <div class="col-md-12">
        <h2 class="head-title mb-3">
          <i class="fa-regular fa-calendar"></i>
          {{ "home.book-doctor.title" | transloco }}
        </h2>
        <div class="mt-4">
          <app-search-form></app-search-form>
        </div>
      </div>
    </div>

  </div>
</section>


<!-- <div
  class="container rounded-2 p-4"
  style="
    background-color: white;
    border: 1px solid #e7e7e7;
    margin-top: 60px;
    margin-bottom: 60px;
  "
>
  <div class="row g-3 justify-content-center">
    <div class="d-flex m-0 align-items-center justify-content-between mt-3">
      <h2
        class="m-0 head-title text-start text-black"
        style="font-weight: 600"

      >
        {{ "home.popular-doctors.title" | transloco }}
      </h2>
      <p
        class="text-info p-0 m-0"
        style="cursor: pointer"
        [routerLink]="['find-a-doctor' | route]"
      >
        {{ "view-all.title" | transloco }}
      </p>
    </div>
    <div class="owl-carsoul-wrapper mt-4 position-relative">
      <owl-carousel-o [options]="SpecialtyOption">
        <ng-template carouselSlide *ngFor="let item of topSpecialties">
          <button
            class="btn btn-outline-primary fw-normal w-100 mb-3 mx-2 px-3 py-2"
            [ngClass]="{ 'active-specialty': activeSpecialtyId === item.Id }"
            style="font-size: 14px"
            (click)="
              item.Id === -1 ? getAllSpecialties() : getPopularDoctors(item.Id)
            "
          >
            {{  item.Name }}
          </button>
        </ng-template>
      </owl-carousel-o>
    </div>
    <owl-carousel-o  [options]="doctOption">
      <ng-template carouselSlide *ngFor="let doc of doctors">
        <div
          class="card rounded-3"
          style="
            background-color: white;
            border: 1px solid #e7e7e7;
            cursor: pointer;
          "
        >
          <div
            class="d-flex p-3 justify-content-between align-items-start"
            style="border-bottom: 1px solid #e0e2e9; padding-bottom: 20px"
          >
            <div>
              <div class="d-flex">
                <img
                  [src]="storageUrl + '/' + doc.DoctorImage"
                  alt="Star"
                  class="rounded-circle"
                  width="70px "
                  height="70px"
                />
                <div
                  class="user py-2 px-3"
                  style="
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                  "
                >
                  <h6 class="fw-bold fw-medium m-0">
                    {{ "dr.title" | transloco }}.{{
                      doc.DoctorName.split(" ").slice(0, 2).join(" ")
                    }}
                  </h6>
                  <div class="pb-2 d-flex">
                    <img src="assets/icons/Star2.svg" alt="review" />
                    <span class="ms-2 mt-1">{{ doc.Rate.toFixed(1) }}</span>
                  </div>
                </div>
              </div>
            </div>
            <button
              (click)="bookFor($event, doc, doc.FeesTo)"
              class="btn btn-primary px-3 py-2 btn-book-popular"
            >
              {{ "find-a-doctor.doctors-list.cards.book-now" | transloco }}
            </button>
          </div>
          <div class="work-data pt-2">
            <div class="row justify-content-center text-center">
              <div class="col-lg-4 col-md-6 text-center col-sm-6">
                <img
                  src="assets/icons/subcat.svg"
                  class="py-2 m-auto"
                  alt="icon "
                />
                <h6 style="font-size: 15px">
                  {{
                    "find-a-doctor.doctors-list.cards.specialization"
                      | transloco
                  }}
                </h6>
                <p style="font-size: 14px" (click)="$event.stopPropagation()">
                  {{ doc.DoctorSpeciality }}
                </p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <img
                  src="assets/icons/location.png"
                  class="py-2 m-auto"
                  alt="icon "
                />
                <h6 style="font-size: 15px">
                  {{ "find-a-doctor.doctors-list.cards.address" | transloco }}
                </h6>
                <p style="font-size: 14px" class="text-muted">
                  {{ doc.clinicDto.CityName }}, {{ doc.clinicDto.AreaName }}
                </p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <img
                  src="assets/icons/money.png"
                  class="py-2 m-auto"
                  alt="icon"
                />
                <h6 style="font-size: 15px">
                  {{ "find-a-doctor.doctors-list.cards.fees" | transloco }}
                </h6>
                <p style="font-size: 14px" class="text-muted">
                  {{ doc.FeesTo }} LE
                </p>
              </div>
            </div>
          </div>
        </div>

      </ng-template>
    </owl-carousel-o>

  </div>
</div> -->


<section class="download mt-5">
  <div class="container">
    <div
      class="position-relative row py-md-0 py-lg-0 g-3 w-100 justify-content-between align-items-center ask-section"
      [ngClass]="lang === 'ar' ? 'bg-ar' : 'bg-en'"

    >
      <div
        class="content d-flex justify-content-between align-items-center px-lg-5"
      >
        <div>
          <div class="row download-desktop py-4">
            <div class="col-md-7  z-3 position-relative">
              <div class="mb-3">
                <img
                  src="assets/ask.png"
                  alt="logo"
                  class="logo logo-light ask-image"

                />
              </div>
              <div>
                <p
                  class="text-white m-0 ask-content fw-light pb-3 pt-2 pe-3 my-2"
                  style="line-height: 34px"
                >
                  {{ "home.ask.title" | transloco }}
                </p>
              </div>
              <button
                class="btn btn-primary btn-ask px-3 py-2 border-1"
                (click)="goToAsk()"
              >
                {{ "home.ask.button" | transloco }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="download-mobile row">
    <div
      class="content d-flex justify-content-between align-items-center px-lg-5"
    >
      <div>
        <div class="row">
          <div class="col-md-7 z-3 position-relative">
            <div class="mb-3">
              <img
                src="assets/background/Salamtak Ask.png"
                alt="logo"
                class="logo logo-light ask-image"

              />
            </div>
            <div>
              <p
                class="text-black m-0 ask-content pb-3 pt-2 my-2"
                style="line-height: 34px"
              >
                {{ "home.ask.title" | transloco }}
              </p>
            </div>
            <button
              class="btn btn-primary btn-ask px-3 py-2 border-1"
              (click)="goToAsk()"
            >
              {{ "home.ask.button" | transloco }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="popular-doctors pb-5 mt-5">
  <div class="container">
    <div class="row custom-content">
      <h2 class="text-black pb-4" style="font-size: 32px; font-weight: 600">
        {{ "about-us.whysalamtak.title" | transloco }}
      </h2>
    </div>
    <div class="row g-4 align-items-center">
      <div class="col-lg-4">
        <div class="row g-3">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body mission-content">
                <div class="icon">
                  <img src="assets/background/Group1.svg" alt="image"  />
                </div>
                <h5 class="title">
                  {{ "about-us.whysalamtak.first-feature.label" | transloco }}
                </h5>
                <p class="description">
                  {{
                    "about-us.whysalamtak.first-feature.description" | transloco
                  }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body mission-content">
                <div class="icon">
                  <img src="assets/background/Group5.svg" alt="image" />
                </div>
                <h5 class="title">
                  {{ "about-us.whysalamtak.second-feature.label" | transloco }}
                </h5>
                <p class="description">
                  {{
                    "about-us.whysalamtak.second-feature.description"
                      | transloco
                  }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body mission-content">
                <div class="icon">
                  <img src="assets/background/Group3.svg" alt="image" />
                </div>
                <h5 class="title">
                  {{ "about-us.whysalamtak.third-feature.label" | transloco }}
                </h5>
                <p class="description">
                  {{
                    "about-us.whysalamtak.third-feature.description" | transloco
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <img
          class="mobile-img"
          src="assets/Doctori.webp"
          alt="logo"
          style="width: 100%; height: 800px"

        />
      </div>
      <div class="col-lg-4">
        <div class="row g-3">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body mission-content">
                <div class="icon">
                  <img src="assets/background/Group2.svg" alt="image" />
                </div>
                <h5 class="title">
                  {{ "about-us.whysalamtak.fourth-feature.label" | transloco }}
                </h5>
                <p class="description">
                  {{
                    "about-us.whysalamtak.fourth-feature.description"
                      | transloco
                  }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body mission-content">
                <div class="icon">
                  <img src="assets/background/Group6.svg" alt="image"/>
                </div>
                <h5 class="title">
                  {{ "about-us.whysalamtak.fifth-feature.label" | transloco }}
                </h5>
                <p class="description">
                  {{
                    "about-us.whysalamtak.fifth-feature.description" | transloco
                  }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body mission-content">
                <div class="icon">
                  <img src="assets/background/Group4.svg" alt="image"/>
                </div>
                <h5 class="title">
                  {{ "about-us.whysalamtak.six-feature.label" | transloco }}
                </h5>
                <p class="description">
                  {{
                    "about-us.whysalamtak.six-feature.description" | transloco
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="medical-services my-5">
  <div class="container">
    <h2 class="pb-4 head-title" style="font-weight: 600">
      {{ "blogs.title1" | transloco }}
    </h2>
    <div class="cards">
      <div class="row g-3">
        @for(service of medicalServices ; track null){
        <div class="col-service">
          <div
            class="card"
            style="cursor: pointer"
            [routerLink]="[service.url | route]"
          >
            <div class="card-body" [style.background-color]="service.hex">
              <p
                class="mb-3 text-white"
                style="font-size: 16px; font-weight: 500"
              >
                {{
                  "home.medical-services-directory.cards." + service.translate
                    | transloco
                }}
              </p>
              <img
                src="{{ service.icon }}"
                alt="service"
                style="width: 100px; height: 80px"
                class="mb-3"

                />
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>

<section class="blogss medical-services">
  <div class="container">
    <h2
      class="text-black pb-4 head-title"
      style="font-weight: 600"

    >
      {{ "blogs.title" | transloco }}
    </h2>
    <div class="cards">
      <div class="row g-3" style="align-items: center">
        @for(service of blog;track null){
        <div class="col-service">
          <div
            class="card"
            style="cursor: pointer"
            [routerLink]="[service.url | route]"
          >
            <div class="overlay" [style.background-color]="service.hex"></div>
            <div class="card-body" [style.background-color]="service.hex">
              <img class="card-img" src="{{ service.icon }}" alt=""  />
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>


<app-download-app></app-download-app>
