<section class="auth layout_1 reset-successfully my-5 mx-2">
    <div class="container text-center">
      <img src="assets/success.png" class="" style="width: 90px;" alt="">
      <div class="mt-3">
        <h2>
          {{ 'authentication.reset-successfully.title' | transloco }}
        </h2>
        <p class="pt-3" style="color: #8088A4;">
          {{ 'authentication.reset-successfully.description' | transloco }}
        </p>
      </div>

      <button type="submit" class="btn btn-primary my-3 w-100"
      (click)="login()">
        {{ 'form.buttons.login' | transloco }}
      </button>
    </div>
  </section>
