section.change-password {
  h2 {
    font-weight: 600;
    margin: 30px 0;
    font-size: 25px;
  }

  label {
    font-size: 14px;
    color: #a5abbf;
  }
  input {
    border-color: #e9eaef;
    background-color: transparent;
    border: 1px solid #cbd5e1;
  }
  button[type="button"] {
    border-radius: 7px;
    margin-right: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  button:disabled {
    background: #aeb3be;
    color: #fff;
    border-color: #aeb3be;
  }
}
