<section class="change-password auth">
  <div class="container">

    <nav class="breadcrumb"style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)"
          [routerLink]="['/en/home']"
          >

            {{ "Home" | transloco }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a
          [routerLink]="['/en/change-password']" >

            {{ "change-password.title" | transloco }}
          </a>
        </li>

      </ol>
    </nav>
    <div class="row ">
      <div class="col-md-8 ps-0">
        <div class="mt-4 mb-2">
          <h2 class="mb-4">
            {{ 'change-password.title' | transloco }}
          </h2>
        </div>
      </div>
      <div class="col-md-8 bg-white shadow-sm pt-3 p-4  border border-dark-subtle rounded-3">

        <form [formGroup]="form" (ngSubmit)="submit()">
          <!-- Old Password -->
           <div class="row mt-4">
            <div class="col-lg-6">
              <div class="mb-3 password-area ">
                <label for="oldPassword" class="form-label">
                  {{ 'form.input.old-password.label' | transloco }}
                </label>
                <input formControlName="oldPassword" [ngClass]="{ 'is-invalid': submitted && f['oldPassword'].errors }"
                  type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" id="oldPassword">

                <div class="visibility">
                  @if (hidePassword) {
                    <div class="show">
                      <i class="material-icons" (click)="showHidePassword()">visibility</i>
                    </div>
                  }
                  @if (!hidePassword) {
                    <div class="hide">
                      <i class="material-icons active" (click)="showHidePassword()">visibility_off</i>
                    </div>
                  }
                </div>
              </div>

              @if (submitted && f['oldPassword'].errors) {
                <div class="errors-area mt-2">
                  @if (f['oldPassword']['errors']['required']) {
                    <p class="text-danger">
                      {{ 'form.input.old-password.validation.required' | transloco }}
                    </p>
                  }
                </div>
              }

            </div>
            <div class="col-lg-6">
              <!-- New Password -->
          <div class="mb-3 password-area">
            <label for="password" class="form-label">
              {{ 'form.input.password.label' | transloco }}
            </label>
            <input formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" id="password">

            <div class="visibility">
              @if (hidePassword) {
                <div class="show">
                  <i class="material-icons" (click)="showHidePassword()">visibility</i>
                </div>
              }
              @if (!hidePassword) {
                <div class="hide">
                  <i class="material-icons active" (click)="showHidePassword()">visibility_off</i>
                </div>
              }
            </div>
          </div>

          @if (submitted && f['password'].errors) {
            <div class="errors-area mt-2">
              @if (f['password']['errors']['required']) {
                <p class="text-danger">
                  {{ 'form.input.password.validation.required' | transloco }}
                </p>
              }
            </div>
          }
            </div>
           </div>

          <!-- Confirm Password -->
          <div class="mb-3 password-area">
            <label for="confirmPassword" class="form-label">
              {{ 'form.input.confirm-password.label' | transloco }}
            </label>
            <input formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
              type="{{ hidePassword ? 'password' : 'text' }}" class="form-control" id="confirmPassword">

            <div class="visibility">
              @if (hidePassword) {
                <div class="show">
                  <i class="material-icons" (click)="showHidePassword()">visibility</i>
                </div>
              }
              @if (!hidePassword) {
                <div class="hide">
                  <i class="material-icons active" (click)="showHidePassword()">visibility_off</i>
                </div>
              }
            </div>
          </div>

          @if (submitted && f['confirmPassword'].errors) {
            <div class="errors-area mt-2">
              @if (f['confirmPassword']['errors']['required']) {
                <p class="text-danger">
                  {{ 'form.input.confirm-password.validation.required' | transloco }}
                </p>
              }
              @if (f['confirmPassword']['errors']['mustMatch']) {
                <p class="text-danger">
                  {{ 'form.input.confirm-password.validation.notMatch' | transloco }}
                </p>
              }
            </div>
          }

          <!-- Cancel and Save buttons -->
          <div class="text-end">
            <button type="button" class="btn btn-outline-primary mx-3 py-2 px-4" style="font-size: 17px;">
              {{ 'form.buttons.cancel' | transloco }}
            </button>
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary py-2 px-4 " style="font-size: 17px;">
              {{ 'form.buttons.save' | transloco }}
            </button>
          </div>

        </form>
        <br>
      </div>
    </div>
  </div>
</section>
