<div class="bg-primary m-0 p-5" style="min-height: 100vh;">
   <!-- {{loading}} -->
<div class="container ">
   <img src="assets/large-logo.svg" alt="" width="150">
   <br>
   <h1 class="mb-4 text-white">
      Salamtak Sitemap
   </h1>
   <a href="javascript:void(0);" class="btn btn-info text-white mb-3" (click)="generateSitemap()">Download Sitemap File</a>

    
      <div >
      <p
         class="text-white"
      >
            Total Links: <b id="totalLinks">
               {{ links.length }}
            </b>
   </p>
      <div class="row">
         <div class="col-md-6">
           <ul class="list-group">
             @for(link of links.slice(0, links.length / 2);track null){
                <li  class="list-group-item">
                  <a href="{{ link }}" target="_blank">{{ link }}</a>
                </li>
             }
           </ul>
         </div>
         <div class="col-md-6">
           <ul class="list-group">
             @for(link of links.slice(links.length / 2);track null){
                <li  class="list-group-item">
                  <a href="{{ link }}" target="_blank">{{ link }}</a>
                </li>
             }
           </ul>
         </div>
       </div>
      </div>
    

 </div>
</div>