<div class="card booking" id="book">
  <h6 class="card-header py-4">
    <!-- Booking Information -->
    {{'doctor-profile.book-form.title' | transloco}}
  </h6>
  <div class="card-body">
    <!-- Fees and Waiting Time -->
    <div class="info">

      @if(selectedClinic){

      }

      <form class="first-form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="mt-3">
          <h4 class="fw-bold">
            {{'doctor-profile.book-form.choose-clinic' | transloco}}

          </h4>
          <div class="mb-2 mt-3  ">

            <div class="radios-container custom-radio-checkbox location bg">
              @for(clinic of clinics; track null){
              <label class="selected-clinic" [class.active]="selectedClinic?.ClinicId === clinic['ClinicId']"
                for="clinic-{{clinic['ClinicId']}}">
                <input type="radio" id="clinic-{{clinic['ClinicId']}}" name="clinic" value="{{clinic['ClinicId']}}"
                  formControlName="clinic" (change)="chooseClinic($event, clinic['ClinicId'])" />
                <div>
                    <span class="mb-1  fw-bold">
                    {{ clinic['AreaName'] }}
                  </span>
                  <p class=""  style="font-size: 13px; color: #8088A4;">{{ clinic['Address'] }}</p>

                </div>
              </label>
              }
            </div>

            <!-- errors -->

            @if(submitted && f['clinic'].errors){
            <div class="errors-area mt-2">
              @if(f['clinic']['errors']['required']){
              <p class="text-danger">
                {{'doctor-profile.book-form.clinic-required' | transloco}}
              </p>
              }
            </div>
            }
          </div>
        </div>
        <div class="mt-3">
          <h4 class="fw-bold" >
            {{'doctor-profile.book-form.appointments-type' | transloco}}
          </h4>
          <div class="mb-2 mt-3  ">
            <div class="radios-container custom-radio-checkbox  row gx-4 gy-2 ">
              @for(type of appointmentTypes; track null){
              <div class="col-md-6 p3 ">
                <input type="radio" id="appointment-type-{{$index}}" name="appointment" value="{{type['Id']}}"
                  [attr.data-d]="type['Id']" formControlName="appointment"
                  (change)="chooseAppointment($event,type['Id'])">
                <label for="appointment-type-{{$index}}" class=""
                  [ngClass]="{ 'is-invalid': submitted && f['appointment']['errors'] }">{{type['Name']}}</label>
              </div>
              }
            </div>

            @if(submitted && f['appointment'].errors){
            <div class="errors-area mt-2">
              @if(f['appointment']['errors']['required']){
              <p class="text-danger">
                {{'doctor-profile.book-form.appointments-type-required' | transloco}}
              </p>
              }
            </div>
            }
          </div>
        </div>

        @if(selectedClinic && selectedAppointment){
        <div class="mt-3">
          <h4 class="fw-bold">
            {{'doctor-profile.book-form.choose-appointment-day' | transloco}}
          </h4>
          <div class="dates-slider custom-radio-checkbox" dir="ltr">
            <owl-carousel-o [options]="daysOptions">
              @for(day of dayes; track null){
              <ng-template carouselSlide>
                <input type="radio" id="day-{{$index}}" name="appointmentDay" value="{{day['date']}}"
                  [attr.data-id]="day['id']" (change)="getClinicSchedualByClinicDayId(day);setSelectedDayId(day)"
                  [checked]="day['date'] == f['appointmentDay'].value ? true : false" formControlName="appointmentDay">
                <label style="border: none;" [class.active]="day['date'] == f['appointmentDay'].value" class="p-0" for="day-{{$index}}">
                  <!-- {{day['id']}} -->
                  @if(getLanguage()=='ar'){
                  <span class="name">
                      {{day['name_ar'] | slice:0:4}}
                  </span>
                  }
                  @if(getLanguage() !='ar'){
                  <span class="name">
                    {{day['name'] | slice:0:3}}
                  </span>
                  }
                  <span class="date">{{day['number']}}</span>
                </label>
                <!-- {{day['date']}} -->
              </ng-template>
              }
            </owl-carousel-o>

          </div>
          <!-- {{f['appointmentDay'].value}} -->

          @if(submitted && f['appointmentDay'].errors){
          <div class="errors-area mt-2">
            @if(f['appointmentDay']['errors']['required']){
            <p class="text-danger">
              {{'doctor-profile.book-form.appointment-day-required' | transloco}}
            </p>
            }
          </div>
          }

        </div>
        }



        @if(f['appointmentDay'].value && selectedClinic && selectedAppointment){
        <div class="mt-3">
          <h4 class="fw-bold">
            {{'doctor-profile.book-form.appointments-available' | transloco}}
          </h4>
          <div class="mt-3">
            @if(times.length == 0){
            <div>
              <p class="text-center" class="alert alert-danger">
                {{'doctor-profile.book-form.no-appointments-available' | transloco}}
              </p>
            </div>
            }
            @for(time of times; track null){
            <div class="radios-container custom-radio-checkbox choose-date row">

              @for(time of time.times; track null){
              <div class="col-md-3">
                <input type="radio" id="time-{{time.time24}}" name="times" value="{{time.time24}}"
                  [checked]="time['time24'] == f['times'].value ? true : false" formControlName="times">
                <label style="font-size: 13px;" for="time-{{time.time24}}" [ngClass]="{'Red': time.IsBooked}">
                  {{time.time12}}
                </label>
              </div>
              }
            </div>
            }
            @if(submitted && f['times'].errors){
            <div class="errors-area mt-2">
              @if(f['times']['errors']['required']){
              <p class="text-danger">
                {{'doctor-profile.book-form.time-required' | transloco}}
              </p>
              }
            </div>
            }
          </div>
        </div>
        }
        <div class="my-3">
          <button (click)="isBokking = !isBokking" class="btn btn-primary text-white fs-5 py-3 w-100">
            {{'doctor-profile.book-now' | transloco}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
