<section class="blogs mt-5 pt-5">
  <div class="container">
    <nav class="breadcrumb" style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
       <li class="breadcrumb-item">
          <a href="javascript:void(0)" [routerLink]="['home' | route]">
            {{ "app-name" | transloco }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a
          href="javascript:void(0)" [routerLink]="['SalamtakGate' | route]"
           >

            {{ "blogs.title" | transloco }}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">
            {{ "blogs.scope" | transloco }}
          </a>
        </li>
      </ol>
    </nav>



    <div class="cards">
      <h2 class="fw-medium pb-3">
        {{ "blogs.all-articles" | transloco }}
      </h2>
      <div>

        <div class="row">
          @for(item of blogs; let i = $index; track null) {
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <img class="rounded-3" src="{{ storageUrl }}{{ item.image }}" width="100%"
                  style="height: 200px; object-fit: cover" />
                <div class="texts my-3">
                  <h5>
                    {{ item.Title }}
                  </h5>
                  @if (expandedIndex !== i) {
                  <p class="text-muted">{{ item.Description | slice: 0:100 }}</p>
                  } @else {
                  <p class="text-muted">{{ item.Description }}</p>
                  }

                  <button class="btn btn-primary" (click)="showAllDesc(i)">
                    {{ (expandedIndex === i ? 'view-less.title' : 'view-all.title') | transloco }} </button>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  @if(blogs.length == 0){
  <div class="container">
    <div class="no-results">
      <div class="card rounded-3 py-3  text-center"
        style="border: 1px solid #E9EAEF ;box-shadow: none; box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 20px -20px;">
        <div class="card-body">
          <img src="assets/icons/no-results.svg" alt="no-results" />
          <h5 class="py-3">
            {{ "pages.No-Results" | transloco }}
          </h5>
        </div>
      </div>
    </div>
  </div>
  }
</section>
