<section class="auth layout_1 text-center forgot-password  mx-2 my-4 py-3" >
    <div class="container">
      <div class="text-center mb-4 mt-2">
      <header>
        <h2 class="" >
          {{ "authentication.forgot-password.title" | transloco }}
        </h2>
      </header>
      <button
        type="button"
        class="bg-transparent border-0 position-absolute m-2"
        style="cursor: pointer; top: 5px; left: 5px"
        aria-label="back"
        (click)="PreviousPage()"
      ><i class="fa-solid fa-arrow-left fs-5"></i></button>
    </div>
      <form [formGroup]="form" (ngSubmit)="submit()">

         <p style=" color: #8088A4; font-size: 14px; text-align: center;"> {{ "authentication.forgot-password.description" | transloco }}</p>
        <div class="my-1 pt-2">
          <input formControlName="email_or_phone" [ngClass]="{ 'is-invalid': submitted && f['email_or_phone'].errors }" type="text" class="form-control" id="email_or_phone"
          placeholder="{{ 'form.input.email_or_phone.placeholder' | transloco }}"
          >

        </div>

       @if(submitted && f['email_or_phone'].errors){
         @if(f['email_or_phone']['errors']['required']){
           <div  class="errors-area mt-2" >
             <p class="text-danger">
               {{ 'form.input.email_or_phone.validation.required' | transloco }}
             </p>
           </div>
         }
       }

       <br>
        <button type="submit" class="btn btn-primary w-100">
          {{ 'form.buttons.send' | transloco }}
        </button>
      </form>
    </div>
  </section>
