<section class="mt-5 pt-5">
  <div class="container">
    <div class="row">
      <nav class="breadcrumb" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['home' | route]">
              {{ "homePath" | transloco }}
            </a>
          </li>
          <li class="breadcrumb-item">
            {{ "services.title" | transloco}}
          </li>
        </ol>
      </nav>

      <div class="row g-4   border rounded bg-white ">
        <div class="col-md-6">
          <div class="">
            <img src="../../assets/booking-1.png" class="w-25 mb-3" alt="">

            <p class="" style="line-height: 30px; height: 200px ; overflow-y: scroll;">
              {{ "services.booking.description" | transloco }}
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <iframe width="100%" height="330" src="https://www.youtube.com/embed/H37XOGV5F80" title="Booking"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row mt-4  g-4  py-3 border rounded bg-white ">
        <div class="col-md-6">
          <div class="">
            <img src="../../assets/homevisit-1.png " class="w-25 mb-3" alt="">
            <p class="" style="line-height: 30px; height: 200px ; overflow-y: scroll;">
              {{ "services.home-visit.description" | transloco }}
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <iframe width="100%" height="330" src="https://www.youtube.com/embed/tlMHZUACZXE" title="Home Visit"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="row mt-4  g-4  py-3 border rounded bg-white ">
        <div class="col-md-6">
          <div class="">
            <img src="../../assets/connect-1.png" class="w-25 mb-3" alt="">
            <p class="" style="line-height: 30px; height: 200px ; overflow-y: scroll;">
              {{ "services.connect.description" | transloco }}
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <iframe width="100%" height="330" src="https://www.youtube.com/embed/Pw2qPOrrPSE"
            title="Live Consultation Connect" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="row mt-4  g-4  py-3 border rounded bg-white ">
        <div class="col-md-6">
          <div class="">
            <img src="../../assets/save-1.png" class="w-50 mb-3" alt="">
            <p class="" style="line-height: 30px; height: 200px ; overflow-y: scroll;">
              {{ "services.save.description" | transloco }}
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <iframe width="100%" height="330" src="https://www.youtube.com/embed/P_KlYN5Y8Vc"
            title="Save 1st and 3rd visit" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

      <div class="row mt-4  g-4  py-3 border rounded bg-white ">
        <div class="col-md-6">
          <div class="">
            <img src="../../assets/angel-1.png" class="w-50 mb-3" alt="">
            <p class="" style="line-height: 30px; height: 200px ; overflow-y: scroll;">
              {{ "services.angel.description" | transloco }}
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <iframe width="100%" height="330" src="https://www.youtube.com/embed/iJDNgsSJau0" title="Angel Consultation"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row mt-4  g-4  py-3 border rounded bg-white ">
        <div class="col-md-6">
          <div class="">
            <img src="../../assets/support-1.png" class=" mb-3" style="width: 40%;" alt="">
            <p class="" style="line-height: 30px; height: 200px ; overflow-y: scroll;">
              {{ "services.support.description" | transloco }}
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <iframe width="100%" height="330" src="https://www.youtube.com/embed/FDL7fvLlpMw" title="Salamtak Support"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
</section>
