<section class="my-schedule pt-5 mt-5">
  <div class="container">
    <nav class="breadcrumb" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="javascript:void(0)">
            {{ 'app-name' | transloco }}
          </a>
        </li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" aria-label="my-schedule">
            {{ 'my-schedule.title' | transloco}}
          </a></li>
      </ol>
    </nav>

    <div>
      <mat-tab-group [dynamicHeight]="true" [selectedIndex]="0" (selectedTabChange)="changeEventType($event)">
        <mat-tab label="{{'my-schedule.upcoming.title' | transloco}}"></mat-tab>
        <mat-tab label="{{ 'my-schedule.medical-history.title' | transloco }}"></mat-tab>
        <mat-tab label="{{ 'my-schedule.canceled.title' | transloco }}"></mat-tab>
      </mat-tab-group>

      <div class="head">
        <div class="">
          <h5>
            <div [ngSwitch]="eventType">
              <div *ngSwitchCase="0">
                {{ 'my-schedule.upcoming.sub-title' | transloco }}
              </div>
              <div *ngSwitchCase="1">
                {{ 'my-schedule.medical-history.sub-title' | transloco }}
              </div>
              <div *ngSwitchCase="2">
                {{ 'my-schedule.canceled.sub-title' | transloco }}
              </div>
            </div>
          </h5>
        </div>

      </div>

      <section class="main-card-app mt-4">
        <div class="cards">
          @if(data.length == 0 && !loading){
          <div class="no-results">
            <div class="card text-center bg-transparent">
              <div class="card-body">
                <img src="assets/icons/no-results.svg" alt="no-results">
                <h5 class="mt-3">
                  {{ 'find-a-doctor.doctors-list.no-results.title' | transloco }}
                </h5>
                <p>
                  {{ 'find-a-doctor.doctors-list.no-results.description' | transloco }}
                </p>
              </div>
            </div>
          </div>
          }


          <div class="row">

            <div class="col-lg-12 mb-4">
              <p-table [value]="data" [rows]="10" [paginator]="true" [tableStyle]="{ 'min-width': '75rem' }"
                [rowHover]="true"  class="custom-table">
                <ng-template pTemplate="header">
                  <tr>
                    <th>#</th>
                    <th>Doctor</th>
                    <th>Booking type</th>
                    <th>Clinic address</th>
                    <th>Date & Time</th>
                    <th>Fees</th>
                    <th>Actions</th>
                  </tr>
                </ng-template>

                <!-- BODY TEMPLATE - NO @for or *ngFor here -->
                <ng-template pTemplate="body" let-doctor let-i="rowIndex">
                  <tr (click)="goToProfile(doctor)" >
                    <td>{{ i + 1 }}</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="me-2">
                          <h6 class="m-0" style="color: #1c1c28">
                            {{ 'find-a-doctor.doctors-list.cards.dr' | transloco }} {{ doctor.DoctorName }}
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td>{{ doctor.MedicalExaminationTypeName }}</td>
                    <td tooltipPosition="top">{{ doctor.ClinicAddress }}</td>
                    <td>{{ returnWeekDay(doctor.AppointmentDate) }}</td>
                    <td>{{ doctor.Fees }} {{ 'my-schedule.LE' | transloco }}</td>
                    <td class="text-center">
                      <ng-container *ngIf="eventType === 0">
                        <a [matMenuTriggerFor]="dots" class="dots" href="javascript:void(0)"
                          (click)="$event.stopPropagation()">
                          <img src="assets/icons/three-dots.svg" alt="">
                        </a>
                      </ng-container>

                      <mat-menu #dots="matMenu" class="userDropdown">
                        <button (click)="editAppointment(doctor)" mat-menu-item>
                          <img src="assets/icons/Edit.svg" alt="">
                          <span>{{ 'my-schedule.Edit-Appointment' | transloco }}</span>
                        </button>
                        <button mat-menu-item (click)="map(doctor)">
                          <img src="assets/icons/View-Map.svg" alt="">
                          <span>{{ 'my-schedule.View-Map' | transloco }}</span>
                        </button>
                        <button mat-menu-item (click)="help()">
                          <img src="assets/icons/Help.svg" alt="">
                          <span>{{ 'my-schedule.help' | transloco }}</span>
                        </button>
                        <button (click)="cancelAppointment(doctor.AppointmentId, doctor.DoctorId, doctor.DoctorName)"
                          mat-menu-item>
                          <img src="assets/icons/Cancel-Appointment.svg" alt="">
                          <span class="text-danger">{{ 'my-schedule.Cancel-Appointment' | transloco }}</span>
                        </button>
                      </mat-menu>

                      <ng-container *ngIf="eventType === 1">
                        <a [matMenuTriggerFor]="dots2" class="dots" href="javascript:void(0)"
                          (click)="$event.stopPropagation()">
                          <img src="assets/icons/three-dots.svg" alt="">
                        </a>
                      </ng-container>

                      <mat-menu #dots2="matMenu" class="userDropdown">
                        <button (click)="RebookAppointment(doctor)" mat-menu-item>
                          <img src="assets/icons/Calendar22.svg" alt="">
                          <span>{{ 'my-schedule.ReBooking-Appointment' | transloco }}</span>
                        </button>
                        <button mat-menu-item (click)="goToMedical(doctor)">
                          <img src="assets/icons/Group2222.svg" alt="">
                          <span>{{ 'my-schedule.Medical' | transloco }}</span>
                        </button>
                        <button mat-menu-item (click)="rate(doctor)">
                          <img src="assets/icons/Star22.svg" alt="">
                          <span>{{ 'my-schedule.Rate' | transloco }}</span>
                        </button>
                      </mat-menu>
                    </td>
                  </tr>
                </ng-template>
              </p-table>


              <!-- <div class="card  mt-5" (click)="goToProfile(doctor)">
                <div class="card-body">
                  <div class="user">
                    <div class="image">

                      <img [src]="storageUrl + '/' + doctor.DoctorImage" alt="">
                    </div>

                    <div class="info">
                      <h5 class="name">
                        {{ 'find-a-doctor.doctors-list.cards.dr' | transloco }}
                        {{ doctor.DoctorName}}
                      </h5>
                      <p class="job">
                        {{ doctor.SpecialistName}} <span>({{doctor.SeniorityLevelName}})</span>
                      </p>
                      <div class="rate">
                        <img src="assets/icons/Star2.svg">
                        <b>
                          {{ doctor.AvgRate}}

                        </b> &nbsp;
                        <span>
                          ({{ doctor.rateCount}}
                          {{ 'find-a-doctor.doctors-list.cards.reviews' | transloco }})
                        </span>
                      </div>
                      @if(eventType == 0){
                      <a [matMenuTriggerFor]="dots" class="dots" href="javascript:void(0)"
                        (click)="$event.stopPropagation()">
                        <img src="assets/icons/three-dots.svg" alt="">
                      </a>
                      }

                      <mat-menu #dots="matMenu" class="userDropdown">
                        <button (click)="editAppointment(doctor)" mat-menu-item>
                          <img src="assets/icons/Edit.svg" alt="">
                          <span>
                            {{ 'my-schedule.Edit-Appointment' | transloco }}
                          </span>
                        </button>
                        <button mat-menu-item (click)="map(doctor)">
                          <img src="assets/icons/View-Map.svg" alt="">
                          <span>
                            {{ 'my-schedule.View-Map' | transloco }}
                          </span>
                        
                        </button>
                        <button mat-menu-item (click)="help()">
                          <img src="assets/icons/Help.svg" alt="">
                          <span>{{ 'my-schedule.help' | transloco }}
                          </span>
                        </button>
                        <button (click)="cancelAppointment(doctor.AppointmentId,doctor.DoctorId,doctor.DoctorName)"
                          mat-menu-item>
                          <img src="assets/icons/Cancel-Appointment.svg" alt="">
                          <span class="text-danger">
                       
                            {{ 'my-schedule.Cancel-Appointment' | transloco }}
                          </span>
                        </button>
                      </mat-menu>


                  
                      @if(eventType == 1){
                      <a [matMenuTriggerFor]="dots2" class="dots" href="javascript:void(0)"
                        (click)="$event.stopPropagation()">
                        <img src="assets/icons/three-dots.svg" alt="">
                      </a>
                      }

                      <mat-menu #dots2="matMenu" class="userDropdown">
                        <button (click)="RebookAppointment(doctor)" mat-menu-item>
                          <img src="assets/icons/Calendar22.svg" alt="">
                          <span>
                          
                            {{ 'my-schedule.ReBooking-Appointment' | transloco }}
                          </span>
                        </button>
                        <button mat-menu-item (click)="goToMedical(doctor)">
                          <img src="assets/icons/Group2222.svg" alt="">
                          <span>
                           
                            {{ 'my-schedule.Medical' | transloco }}
                          </span>
                        </button>
                        <button mat-menu-item (click)="rate(doctor)">
                          <img src="assets/icons/Star22.svg" alt="">
                          <span>
                            
                            {{ 'my-schedule.Rate' | transloco }}
                          </span>
                        </button>
                      </mat-menu>

                    </div>
                  </div>

                  <div class="work-data">
                    @if(doctor.HealthEntity_OffersID !== null){
                    <div class="row">
                      <div class="col-6">
                        <span class="offer" style="color: #2B2979; font-weight: bold;">
                          
                          {{'booking-successfully.booking-details.offer' | transloco}}

                        </span>
                      </div>

                    </div>
                    }
                    <div class="row">
                      <div class="col-6">
                        <img src="assets/icons/Sub-specialization.svg" alt="">
                        <span>
                       
                          {{ 'find-a-doctor.doctors-list.cards.service' | transloco }}
                        
                        </span>
                      </div>
                      <div class="col-6 answer">
                        <span>
                         
                          {{ doctor.MedicalExaminationTypeName}}
                        </span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <img src="assets/icons/Phone.svg" alt="">
                        <span>
                   
                          {{'booking-successfully.clinic-number' | transloco}}
                        </span>
                      </div>
                      <div class="col-6 answer">
                        <span>
                          
                          {{ doctor.ClinicPhone}}
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <img src="assets/icons/Address.svg" alt="">
                        <span>
                        
                          {{ 'booking-successfully.booking-details.clinic-address' | transloco }}
                        </span>
                      </div>
                      <div class="col-6 answer">
                        <span>
                         
                          {{ doctor.ClinicAddress}}
                        </span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <img src="assets/icons/Fees.svg" alt="">
                        <span>
                        
                          {{ 'find-a-doctor.doctors-list.cards.time' | transloco }}
                        </span>
                      </div>
                      <div class="col-6 answer">
                        <span>
                          {{returnWeekDay(doctor.AppointmentDate)}}
                
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <img src="assets/icons/Fees.svg" alt="">
                        <span>
                          {{ 'find-a-doctor.doctors-list.cards.fees' | transloco }}
                        </span>
                      </div>
                      <div class="col-6 answer">
                        <span>
                          {{doctor.Fees}}
                          {{ 'my-schedule.LE' | transloco }}
                        </span>
                      </div>
                    </div>

                  </div>
              
                  @if(eventType == 2){
                  <button class="btn btn-outline-info p-2 w-100" (click)="RebookAppointment(doctor)">
                    <img src="assets/icons/Calendar3.svg" alt="">
                    {{ 'my-schedule.ReBooking-Appointment' | transloco }}
                  </button>
                  }

                </div>
              </div> -->


            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>