<section class="blogs mt-5 pt-5">
  <div class="container mt-5 pt-5">
    <div class="form">
      <div class="row justify-content-center">
        <div class="col-md-8">

          <div class="card">
            <div class="card-body py-5 px-5">
              <form class="form" [formGroup]="form" (ngSubmit)="formSubmit()">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <!-- <label class="pb-2" for="">{{"form.input.choose-your-speciality.label" | transloco}}</label> -->
                      <div class="form-group "
                        style="border: 1px solid #ced4da; border-radius: 0.375rem; padding: 8px;">

                        <mat-select formControlName="SpecialistID"
                          [placeholder]="('form.input.choose-your-speciality.label' | transloco)"
                          [(value)]="Specialist.Selected" (selectionChange)="onSpecialistChange($event)" required>
                          @for(item of Specialist.Filtered;track null){

                          <mat-option [value]="item">
                            {{item['Name']}}

                          </mat-option>
                          }
                        </mat-select>
                        @if (submitted && f['speciality']['errors']) {
                        <div class="invalid-feedback">
                          <div>
                            {{ 'form.input.ask.validation.required' | transloco }}
                          </div>
                        </div>
                        }
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <!-- <label class="pb-2">
                          {{ 'form.input.ask.label' | transloco }}
                        </label> -->
                        <input type="text" class="form-control pb-2"
                          placeholder="{{ 'form.input.ask.placeholder' | transloco }}" formControlName="Question"
                          [ngClass]="{ 'is-invalid': formSubmitted && f['Question']['errors'] }" required>
                      </div>
                      @if (formSubmitted && f['Question']['errors']) {
                      <div class="errors-area mt-2">
                        @if (f['Question']['errors']['required']) {
                        <p class="text-danger">
                          {{ 'form.input.ask.validation.required' | transloco }}
                        </p>
                        }
                        @if (f['Question']['errors']['pattern']) {
                        <p class="text-danger">
                          {{ 'form.input.ask.validation.pattern' | transloco }}
                        </p>
                        }
                      </div>
                      }
                    </div>
                    <div class="col-md-6 mt-3 pt-1">
                      <div class="form-group">
                        <!-- <label>

                          {{ 'form.input.ask.age' | transloco }}
                        </label> -->
                        <input type="text" class="form-control"
                          placeholder="{{ 'form.input.ask.age-placeholder' | transloco }}" formControlName="Age"
                          [ngClass]="{ 'is-invalid': formSubmitted && f['Question']['errors'] }" required>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="col-md-12">
                  <textarea class="form-control" matInput placeholder="{{ 'form.input.ask.desc' | transloco }}"
                    formControlName="QDetails" [ngClass]="{ 'is-invalid': submitted && f['QDetails'].errors }"
                    required></textarea>
                  @if (submitted && f['QDetails']['errors']) {
                  <div class="invalid-feedback">
                    @if (f['QDetails']['errors']['required']) {
                    <div>
                      {{ 'form.input.ask.desc-required' | transloco }}
                    </div>
                    }
                    @if (f['QDetails']['errors']['pattern']) {
                    <div>
                      {{ 'form.input.ask.validation.pattern' | transloco }}
                    </div>
                    }
                  </div>
                  }
                </div>
                <br>

                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>
                            {{ 'form.input.ask.que' | transloco }}
                          </label>
                          <div class="radio-toolbar d-flex g-3 m-0">
                            <input [value]="true" type="radio" id="radioApple" name="IsForMe" checked
                              formControlName="IsForMe">
                            <label style="width: 300px; cursor: pointer;" for="radioApple">{{ 'form.input.ask.for-me' |
                              transloco
                              }}</label>

                            <input [value]="false" type="radio" id="radioBanana" name="IsForMe"
                              formControlName="IsForMe">
                            <label style="width: 300px; cursor: pointer;" for="radioBanana">{{ 'form.input.ask.for-an' |
                              transloco
                              }}</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label style="text-align: -webkit-center;">
                            <!-- Full Name in English -->
                            {{ 'form.input.ask.gender' | transloco }}
                          </label>
                          <div class="radio-toolbar d-flex g-3 m-0"
                            [ngClass]="{ 'is-invalid': formSubmitted && f['gender']['errors'] }">
                            <input [value]="2" type="radio" id="radioApple2" name="GenderID" checked
                              formControlName="GenderID">
                            <label style="width: 300px; cursor: pointer;" for="radioApple2">{{ 'form.input.ask.male' |
                              transloco
                              }}</label>
                            <input [value]="1" type="radio" id="radioBanana2" name="GenderID"
                              formControlName="GenderID">
                            <label style="width: 300px; cursor: pointer;" for="radioBanana2">{{ 'form.input.ask.female'
                              | transloco
                              }}</label>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>


                <div class="col-md-6">

                  @if (formSubmitted && f['Question']['errors']) {
                  <div class="errors-area mt-2">
                    @if (f['Question']['errors']['required']) {
                    <p class="text-danger">
                      {{ 'form.input.ask.validation.required' | transloco }}
                    </p>
                    }
                    @if (f['Question']['errors']['pattern']) {
                    <p class="text-danger">
                      {{ 'form.input.ask.validation.pattern' | transloco }}
                    </p>
                    }
                  </div>
                  }
                </div>

                <div class="col-12 text-end">
                  <button class="btn btn-primary py-2 large my-3" type="submit" style="width: 200px;"
                    [disabled]="form.invalid">{{
                    'form.input.ask.save' | transloco }}</button>
                </div>

              </form>


              <p class="pt-5 pb-2 text-center" style="font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                 -webkit-box-align: center;
                align-items: center;
                color: rgb(0, 0, 0);
                margin: 0px;"> {{ 'form.input.ask.text' | transloco }} {{ 'form.input.ask.text-c' | transloco }}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
