.new-password {
  input {
    border-color: #e9eaef;
    background-color: transparent;
    border: 1px solid #cbd5e1;
  }
  input::placeholder {
    color: #64748b !important;
    font-size: 14px;
    font-weight: 400;
  }
  button[type="button"] {
    border-radius: 7px;
    margin-right: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  button:disabled {
    background: #aeb3be;
    color: #fff;
    border-color: #aeb3be;
  }
}
