<section class="auth layout_1 new-password my-5 mx-2">
  <div class="container">
    <div class="text-center mb-5">
      <header>
        <h2 class="">
          {{ "authentication.new-password.title" | transloco }}
        </h2>
      </header>
      <button
        type="button"
        class="btn-close position-absolute m-2"
        style="cursor: pointer; top: 5px; right: 5px"
        aria-label="Close"
        (click)="closeDialog()"
      ></button>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3 password-area">

        <input
          placeholder="{{ 'form.input.password.placeholder' | transloco }}"
          formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
          minlength="6"
          type="{{ hidePassword ? 'password' : 'text' }}"
          class="form-control"
          id="password"
        />

        <div class="visibility">
          <div class="show">
            @if (hidePassword) {
            <i class="material-icons" (click)="showHidePassword()"
              >visibility</i
            >
            }
          </div>
          <div class="hide">
            @if (!hidePassword) {
            <i class="material-icons active" (click)="showHidePassword()"
              >visibility_off</i
            >
            }
          </div>
        </div>
      </div>

      @if(submitted && f['password'].errors){
      <div class="errors-area mt-2">
        @if(f['password']['errors']['required']){
        <p class="text-danger">
          {{ "form.input.password.validation.required" | transloco }}
        </p>
        }
      </div>
      } @if (submitted && f['password'].errors) {
      <div class="errors-area mt-2">
        @if (f['password']['errors']['minlength']) {
        <p class="text-danger">
          {{ "form.input.password.validation.minlength" | transloco }}
        </p>
        }
      </div>
      }

      <!-- Confirm Password -->
      <div class="mb-3 password-area">

        <input
          placeholder="{{ 'form.input.confirm-password.placeholder' | transloco }}"
          formControlName="confirmPassword"
          [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
          type="{{ hidePassword ? 'password' : 'text' }}"
          class="form-control"
          id="confirmPassword"
        />

        <div class="visibility">
          @if (hidePassword) {
          <div class="show">
            <i class="material-icons" (click)="showHidePassword()"
              >visibility</i
            >
          </div>
          } @if (!hidePassword) {
          <div class="hide">
            <i class="material-icons active" (click)="showHidePassword()"
              >visibility_off</i
            >
          </div>
          }
        </div>
      </div>
      @if (submitted && f['confirmPassword'].errors) {
      <div class="errors-area mt-2">
        @if (f['confirmPassword']['errors']['required']) {
        <p class="text-danger">
          {{ "form.input.confirm-password.validation.required" | transloco }}
        </p>
        }
      </div>
      }

      <button type="submit" class="btn btn-primary w-100 mt-3" >
        {{ "form.buttons.save" | transloco }}
      </button>
    </form>
  </div>
</section>
